.des{
  background-image: url(https://templates.envytheme.com/traip/default/assets/images/shapes/map-1.png);
  
}
.des h5{
  font-family: Segoe Script;
  color: #E96957;
}
.des h1{
  font-family: Microsoft YaHei;
  font-weight: 700;
  font-size: 45px;
}